<nav class="nav-wrapper yellow accent-4">
    <a href="/" class="brand-logo center" id="nav-logo">Grocr</a>
    <button class="btn green right" id="logout-btn">LOGOUT</button>
</nav>

<div class="container">
    <div class="row receipt-area">
        <div class="col">
            <div class="file-field input-field">
                <div class="btn" id="select-receipt">
                    <span>Select Receipt</span>
                    <input type="file" id="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn center-align" id="ajax-veryfi">Add to List</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row store-info">
        <div class="col s2">
            <image id="storeLogoUrl"></image>
        </div>
        {{!-- <div class="col s10">
            <p id="store">Store Visited: </p>
            <ul class="purchase"> </ul>
            <p id="total">Total Cost: $</p>
        </div> --}}
    </div>

    <div class="row center">
        <form class="col s12">
            <div class="input-field col s6">
                <form class="add-item-form">
                    <i class="material-icons prefix" id="add-button">mode_edit</i>
                    <textarea id="add-field" class="materialize-textarea"></textarea>
                    <label for="add-field">Add Item to Grocery List</label>
                </form>
            </div>
        </form>
    </div>
    <div class="row" id="list-area">
        <!-- list of current receipt purchases -->
        <div class="col s6">
            <h5>Grocery List</h5>
            <ul>
                {{#each Purchases}}
                {{#unless complete}}
                {{!-- {{> complete=false}} --}}
                <li class="row">
                    <div class="col s4">
                        <!-- item name -->
                        <p id="purchases">{{this.description}}</p>
                    </div>
                    <div class="col s4">
                        <!-- price -->
                        <p id="current-price">${{this.item_price}}</p>
                    </div>
                    <button class="btn-floating orange btn-small"><i class="small material-icons remove-icon"
                            data-id={{id}} data-complete={{complete}}>remove</i></button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <!-- list of past items -->
        <div class="col s6">
            <h5>Previously Ordered</h5>
            <ul>
                {{#each Purchases}}
                {{#if complete}}
                {{!-- {{> complete=true}} --}}
                <li class="row">
                    <div class="col s4">
                        <!-- item name -->
                        <p id="previous-item">{{this.description}}</p>
                    </div>
                    <div class="col s4">
                        <p id="previous-price">${{this.item_price}}</p>
                    </div>
                    <button class="btn-floating orange btn-small"><i class="small material-icons add-icon" data-id={{id}} data-complete={{complete}}
                           >add</i></button>
                    <button class="btn-floating orange btn-small"><i class="small material-icons delete-icon"  data-id={{id}}  data-complete={{complete}}
                            >clear</i></button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <script src="/js/grocery-list.js"></script>
    <script src="/js/uploadpic.js"></script>